<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FireSharp" version="2.0.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Newsoft.Netclone" version="1.0.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="QRCoder" version="1.4.1" targetFramework="net45" />
</packages>